:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 11%, 89%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

section {
    background-color: var(--dark-cyan);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    width: 35rem;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card-header {
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 15rem;
}

.card-body {
    padding: 0 3rem 2rem;

}

.img-box {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    overflow: hidden;
    margin: -5rem auto 3rem auto;
}

.img-box img {
    width: 100%;
    height: auto;
    display: block;
}

h2, .stat {
    font-weight: 700;
    font-size: 1.8rem;
}

h3 {
    font-weight: 400;
    color: var(--dark-grayish-blue);
}

.age {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    font-size: 1.6rem;
}

.card-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 0.5px solid var(--dark-gray);
    padding: 2.4rem 0;
}

.tag {
    color: var(--dark-grayish-blue);
    margin-top: .5rem;
}

.tag , .stat {
    font-size: 1.4rem;
}
