:root {
  /* Primary */

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* Accent */

  --blue: hsl(248, 32%, 49%);

  /* Neutral */

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--red);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("images/bg-intro-mobile.png");
}

.signup {
  width: 37.5rem;
  display: flex;
  flex-direction: column;
  padding: 6.4rem 3.6rem 3.6rem 3.6rem;
}

.header {
  color: #fff;
  margin-bottom: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__heading {
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
  line-height: 1.2;
  width: 19rem;
}

.header__paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
}

main {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

article {
  color: #fff;
  background-color: var(--blue);
  padding: 1.2rem 6.4rem;
  margin-bottom: 2.4rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  text-align: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

span {
  font-weight: 700;
}

.form {
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 0.8rem;
}

.form__control {
  position: relative;
  margin-bottom: 2rem;
}

.form__control > input {
  display: block;
  padding: 1.2rem 0 1.2rem 1.2rem;
  width: 100%;
  border: 1px solid var(--grayish-blue);
  border-radius: 0.5rem;
  margin-bottom: 0.4rem;
}

.form > input::placeholder {
  color: var(--dark-blue);
}

.form__error-msg {
  display: none;
  color: var(--red);
  margin-bottom: 1.4rem;
}

.form__error-msg.show {
  display: block;
}

.form__error-icon {
  display: none;
  position: absolute;
  right: 1.2rem;
  top: 0.9rem;
}

.form__error-icon.show {
  display: block;
}

.form__button {
  display: block;
  width: 100%;
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  margin-bottom: 1.4rem;
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.form__footer {
  color: var(--grayish-blue);
  text-align: center;
  display: block;
}

.form__footer-terms {
  color: var(--red);
}

/* Media query for screens bigger than 384px */
@media (min-width: 24em) {
  body {
    background-image: url("images/bg-intro-desktop.png");
  }

  .signup {
    flex-direction: row;
    width: 112rem;
    justify-content: space-between;
  }

  .header {
    align-items: flex-start;
  }
  .header__heading {
    font-size: 3.2rem;
    width: 32rem;
  }
  .header__paragraph {
    line-height: 1.5;
    width: 37rem;
  }

  article {
    padding: 2rem 0;
  }
  .form {
    width: 50rem;
  }

  .form__button {
    padding: 1.6rem 3.2rem;
  }
}
